/* src/componentes/Negociacion.css */
.negociacion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chat-container {
    width: 80%;
    margin-top: 20px;
  }
  
  /* src/componentes/Chat.css */
  .chat {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
  }
  
  .messages {
    height: 300px;
    overflow-y: auto;
  }
  
  .message-form {
    margin-top: 20px;
  }
  
  .message-form input {
    width: 70%;
    padding: 10px;
    margin-right: 10px;
  }
  
  .message-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  